<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Add product</title>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main class="mt-5">
    <hr class="bg-hero hr-2"/>
    <h1 class="text-center text-black display-4">Add product to your shopping list</h1>
    <hr class="bg-hero w-25 hr-2"/>
    <form class="mx-auto w-25" th:method="post" th:action="@{/product/addProduct}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group">
            <label for="name" class="text-black mb-1">Add your product</label>
            <input type="text" class="form-control" id="name" placeholder="product ..." name="name">
        </div>
        <hr class="bg-hero hr-2"/>
        <div class="button-holder mt-3 d-flex justify-content-center">
            <button type="submit" class="btn bg-black glow-button">Submit product</button>
        </div>
    </form>
    <span style="visibility: hidden">....</span>



    <div class="jumbotron">
        <table style="table-border-color-light: #b8daff" class="table table-striped" >
            <thead>
            <tr>
                <th>item</th>
                <th>your action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${products}">
                <td width="20px" th:text="${product.name}"  ></td>


                <td><a th:href="@{/product/updateProduct/{id}(id=${product.id})}"
                       class="btn btn-primary"> update </a>
                    <a th:href="@{/deleteProduct/{id}(id=${product.id})}"
                       class="btn btn-danger"> remove from my list </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>