<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>All Recipes</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <th:block th:include="~{fragments/nav-bar1}"></th:block>
  </header>
 <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container align-content-center">

        <div class="d-flex justify-content-between align-items-center">
          <h2 data-aos="fade-up">

            <div class="section-header align-content-center">
              <p > <span>Login</span>
              </p>
            </div>

          </h2>
          <ol>
            <li><a th:href="@{/home}">Home</a></li>
            <li>Recipe Details</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->


    <section id="why-us" class="why-us section-bg">
      <div class="container justify-content-center" >

        <div class="col-lg-12 justify-content-center">

            <div class="row lg-12 justify-content-center">
              <div class="col-lg-6 justify-content-center rounded-5" >
                <div class="icon-box d-flex flex-column align-items-center rounded-5 ">

                  <table class="table table-responsive-sm  rounded-3 bg-white" >
                    <thead>
                    <tr>
                      <th>Item</th>
                      <th>Preferences</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   th:each="product:${products}">
                      <td  >
                        <a th:href="@{#}" class="btn btn-light "> <i class="fa-regular fa-circle-check"></i> </a>
                        <a th:href="@{#}" class="btn btn-light " th:text="${product.name}"> </a>
                      </td>
                      <td>

                                              <!--               moveUp Product-->
                        <a th:href="@{/moveUpProduct/{position}(position=${product.position})}" class="btn btn-light"> <i class="fa-regular fa-circle-up"></i> </a>


                          <!--                moveDown Product-->
                        <a th:href="@{/moveDownProduct/{position}(position=${product.position})}" class="btn btn-light "> <i class="fa-regular fa-circle-down"></i> </a>


                          <!--                update Product&ndash;&gt;-->
                        <a th:href="@{/product/updateProduct/{id}(id=${product.id})}" class="btn btn-light "> <i class="fa-regular fa-pen-to-square"></i> </a>



                          <!--                remove Product-->
                        <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-light "><i class="fa-solid fa-xmark"></i></a>


                      </td>
                    </tr>
                    </tbody>
                  </table>



                </div>
              </div><!-- End Icon Box -->


            </div>
        </div>
      </div>
    </section>







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <th:block th:include="~{fragments/footer}"></th:block>
  </footer>

</body>

</html>