<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Update product</title>
</head>
<body>
<div class="container">
    <hr>
    <h2>Update Employee</h2>

    <hr>

    <form action="#" th:action="@{/product/addProduct}" th:object="${product}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <label>
            <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
        </label>

        <button type="submit" class="btn btn-info col-2"> Update Employee</button>
    </form>

    <hr>

    <a th:href="@{/product/addProduct}"> Back to Product List </a>
</div>
</body>
</html>