<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>All recipes</title>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar1}"></th:block>
</header>
<main>
<div class="wrapper">
    <input type="hidden" name="recipeId" th:field="*{id}">
    <p1 class="logo-home-text"><span id="name" th:text="${recipe.name}"></span> </p1>
    <div class="details-main">

        <div class="card rounded-5">
            <img class="card-img-top" th:if="${recipe.hasImageUrl}" th:src="${recipe.imageUrl}" alt="Recipe image" src="#">
        </div>
        <div>
            <a class="logo-home-text" href="#" th:href="@{/edit-recipe/{Id}(Id=*{id})}">Edit</a>
            <a class="logo-home-text" href="#" th:href="${recipe.url}">Open link</a>
        </div>
        <section class="recipe-info text-center">
            <h4 id="track-name"></h4>
            <p>Author: <span id="getAuthorName" th:text="${recipe.authorName}"></span></p>
            <p>Category: <span id="category" th:text="${recipe.category}"></span></p>
            <p>Date added: <span id="dateAdded" th:text="${recipe.dateAdded}"></span></p>
            <p>SCORE: <span id="rating" th:text="${recipe.rating}"></span></p>

            <input value="0" type="hidden" class="rating" data-glyphicon="0"
                   th:text="${recipe.rating}">



            <h4>Difficulty Level (1-3):</h4>
            <div class="level">
                <p><img class="level-img" src="/images/difficulty-level.png" alt=""></p>
                <p><img class="level-img" src="/images/difficulty-level.png" alt=""></p>
                <p><img class="level-img" src="/images/difficulty-level.png" alt=""></p>
            </div>
            <div>
                <h4>Choose picture</h4>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <input  type="hidden" id="id" name="routeId">
                    <div class="form-group">
                        <label>
                            <input type="text" name="title">
                        </label>
                    </div>
                    <div class="image-upload">
                        <label for="picture">
                            <img src="/images/add-img.png" alt=""/>
                        </label>
                        <input style="display: none" id="picture" type="file" name="picture"/>
                    </div>
                    <div class="form-group">
                        <button class="btn-primary rounded">Upload Picture</button>
                    </div>
                </form>
            </div>
        </section>
        <section id="map"></section>
        <section id="video">
            <iframe id="frame" src="https://www.youtube.com/embed/">
            </iframe>
        </section>
        <section class="route-description text-center">
            <h4>Description:</h4>
            <p id="description" th:text="${recipe.description}">Description: </p>
        </section>
        <section class="gallery">
            <img class="rounded" src="/images/pic4.jpg" height="100%" alt="">
            <img class="rounded" src="/images/pic1.jpg" height="100%" alt="">
        </section>
        <section class="comments">
            <h1>Comments</h1>

            <div>
                <!-- Comments submission -->
                <form id="commentForm" method="POST"
                      th:action="@{/save-comment/{id}(id=${recipe.id})}">
                    <h4>Rate this recipe</h4>

                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" th:value="1">
                            <label class="form-check-label" for="inlineRadio1"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" th:value="2">
                            <label class="form-check-label" for="inlineRadio2"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" th:value="3">
                            <label class="form-check-label" for="inlineRadio3"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" th:value="4">
                            <label class="form-check-label" for="inlineRadio4"></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" th:value="5">
                            <label class="form-check-label" for="inlineRadio5">Excellent</label>
                        </div>
                        <h4>Leave a comment</h4>
                        <label for="text">Message</label>
                        <textarea name="text"
                                  id="text"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                            Message should be at least 5 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
                <!-- Comments submission -->
            </div>

            <!-- All comments section -->
            <div class="export-container">
                <table class="table" >
                    <thead>
                    <tr>
                        <th><div class="logo-home-text">  Latest comments: </div></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment:${comments}">
                        <td> <span th:text="${comment.authorName}"></span> wrote on <span th:text="${comment.getDate()}"></span>
                        </td>

                        <td th:text="${comment.text}" >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <a class="logo-home-text"
               href="#" th:href="@{/comments/{id}(id=${recipe.id})}">All comments </a>
            <!-- EO: All comments section -->
        </section>

    </div>
	<!-- Scripts: track and comments
    <script th:src="@{/js/track.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
	-->
</div>
    <script th:src="@{/assets/bootstrapless-star-rating/star-rating.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
