<th:block th:fragment="nav-bar" >
    <div class="container d-flex align-items-center justify-content-between bg-gradient rounded-5">
        <h1>
            <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->

                <i class="fa-solid fa-cart-arrow-down"></i> Sh<i class="fa-regular fa-heart"></i>pLizt</a>
        </h1>




        <nav th:if="${true}" id="navbar" class="navbar">
            <ul>
                <li><a th:href="@{/home}">home</a></li>
                <li>
            <span type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         add item
            </span>
                </li>
                <li>
                    <form  th:method="post" th:action="@{/add-product}">
                        <input type="text" class="form-control" id="addItem" placeholder="add item . . ." name="name">
                    </form>
                </li>
                <li><a th:href="@{/product-list}">item list</a></li>
                <li><a th:href="@{/all-recipes}">recipes</a></li>
                <li><a th:href="@{/export/export-all-products}">print</a></li>
                <li class="dropdown"><a href="#"><span>my profile</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a th:href="@{/user/profile}">view</a></li>
                        <li><a th:href="@{/update-user}">edit profile</a></li>
                        <!--              <li><a href="#">Drop Down 3</a></li>-->
                        <!--              <li><a href="#">Drop Down 4</a></li>-->
                    </ul>
                </li>
            </ul>
        </nav>


        <!-- Adding Product with Modal box -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title fs-5" id="exampleModalLabel">
                            <h2 class="logo-home-text">
                                add item
                            </h2>

                        </h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form  th:method="post" th:action="@{/add-product}">
                            <label>
                                <input type="text" class="form-control"  placeholder="add item . . ." name="name">
                            </label>
                            <button type="submit" class="btn btn-lg">
                                <i class="fa-solid fa-cart-plus "> s a v e</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- .navbar -->

        <a class="btn-book-a-table" th:href="@{/users/login}">login</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>


</th:block>