<th:block >
    <script src="https://kit.fontawesome.com/5e0c9322dd.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">ShoppingList</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="true"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars text-dark"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="fa-solid fa-house-user"> Home</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/product/addProduct}">
                            <i class="fa-solid fa-plus"> Add / remove </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/export/export-all-products}">
                            <i class="fa-brands fa-shopify"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?login" method="post">
                            <input type="hidden" name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">
                            <a class="nav-link" th:href="@{/users/login}"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>