<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/5e0c9322dd.js" crossorigin="anonymous"></script>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>ShopppIt</title>
</head>
    <body>
        <header>
            <!-- Jumbotron -->
            <div class="p-4 bg-image h-100 rounded-5">
                <div class="mask rounded-5 ">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="logo-home-text">
                                <i class="fa-solid fa-cart-arrow-down"></i> Sh</i><i class="fa-regular fa-heart"></i>pppIt
                            </h1>
                            <h2 class="mb-3">Make a list of items easily
                                <hr> And don't forget a single product while shopping</h2>
                            <p>
                                <a class="btn btn-outline-light btn-lg" th:href="@{/users/register}" role="button">REGISTER | GET STARTED</a>
                            </p>
                            <p>
                                <h6>
                                    Already using the app?
                                    <a class="sign-in" th:href="@{/users/login}"> Sign in </a>
                                </h6>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Jumbotron -->
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <button class="card m-5 p-lg-1 h-75 rounded-5">
                        <a href="#" class="btn btn-info col-12 rounded-5">
                        <img src="https://global-uploads.webflow.com/5fc266068a88f47e2dbc6135/6391dc743bae91f96949f052_Header_image-p-800.jpeg" class="card-img-top h-50" alt="VEGAN PROTEIN">
                        <div class="card-body h-40">
                            <h5 class="card-title">THE 5 BEST VEGAN PROTEIN SOURCES</h5>
                            <p class="card-text">Why are proteins so important? How much protein per day do we need?</p>
                        </div>
                        </a>
                    </button>
                </div>
                <div class="col-md-4">
                <button class="card m-5 p-lg-1 h-75 rounded-5">
                    <a href="#" class="btn btn-info col-12 rounded-5">
                    <img src="https://t3.ftcdn.net/jpg/01/59/27/44/1000_F_159274497_0LeHVWK7Deyhrjebkiv5ftFCK6o61Pxs.jpg" class="card-img-top h-50" alt="PLAN YOUR GROCERIES">
                    <div class="card-body h-40">
                        <h5 class="card-title">3 REASONS WHY YOU SHOULD PLAN YOUR GROCERIES</h5>
                        <p class="card-text">Do you often forget half of the things you would have needed? </p>
                    </div>
                    </a>
                </button>
                </div>
                <div class="col-md-4">
                <button class="card m-5 p-lg-1 h-75 rounded-5">
                    <a href="/all-recipes" class="btn btn-info col-12 rounded-5">
                    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2019/06/warm-brussels-sprouts-salad-eggs-pickled-red-onions.jpg" class="card-img-top h-50" alt="RECIPE COLLECTION">
                    <div class="card-body h-40">
                        <h5 class="card-title">CREATE YOUR OWN RECIPE COLLECTION</h5>
                        <p class="card-text">Did you know that you can save your favorite recipes and view others already shared?</p>
                    </div>
                    </a>
                </button>
                </div>
            </div>
        </div>

    </body>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    </body>
</html>