<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
  <th:block th:include="~{fragments/head}"></th:block>
  <title>MyShopping app</title>
</head>
<body>
<header>
  <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
  <div class="row no-gutter">
    <section>
      <h1 class="title">My Shopping List</h1>
      <h1 th:if="${username == null}"
          class="text-black display-4"><a class="text-black" th:href="@{/users/login}">Login</a> if you
        have an account.</h1>
      <h1 th:if="${username == null}" class="text-black display-4"><a class="text-black" th:href="@{/users/register}">Register</a> if
        you don't.</h1>
      <h1 th:if="${username != null}" class="text-black display-4">Hey,<span th:text="${username}"></span>!
    </section>
  </div>
</main>
<footer>
  <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>