<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/5e0c9322dd.js" crossorigin="anonymous"></script>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Shopping List</title>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar1}"></th:block>
</header>
<main>
    <div class="row">
            <div class="bg-image-home">
                <div class="login d-flex align-items-center py-3">
                    <div class="container">
                        <h1 class="title-name">My Sh<i class="fa-solid fa-cart-shopping"></i>pping List</h1>
                        <hr class="bg-dark hr-2"/>
                        <h1 th:if="${username == null}"
                                class="text-black display-4"><a class="text-black" th:href="@{/users/login}">Login</a> if you
                            have an account.</h1>
                        <h1 th:if="${username == null}" class="text-black display-6"><a class="text-black" th:href="@{/users/register}">Register</a> if
                            you don't.</h1>
                        <h1 th:if="${username != null}" class="text-black display-6">Hey,
                            <span th:text="${username}"></span>!
                        </h1>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>